[submodule ".config/nvim-kickstart"]
	path = .config/nvim-kickstart
	url = https://www.github.com/RoBaertschi/nvim-kickstart
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
